site_name: gtrack
site_description: GPlates-based Tracking of Lithosphere and Kinematics
site_url: https://gtrack.gadopt.org
repo_url: https://github.com/sghelichkhani/gtrack
repo_name: sghelichkhani/gtrack

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - announce.dismiss
    - content.code.copy
    - navigation.indexes
    - navigation.tabs
    - toc.integrate

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - toc:
      toc_depth: 3

plugins:
  - search
  - mkdocs-jupyter:
      include_source: true
      execute: false
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            show_root_full_path: false
            heading_level: 2
            members_order: source
            docstring_style: numpy
            show_signature_annotations: true

nav:
  - Home:
      - index.md
      - About: about.md
  - Getting Started: getting-started.md
  - Demos:
      - demos/index.md
      - Seafloor Age (Simple): demos/seafloor_age_simple.ipynb
      - Seafloor Age (Stepwise): demos/seafloor_age_stepwise.ipynb
      - Continental Rotation: demos/continental_rotation.ipynb
  - API Reference: api.md
